<h1 style = "padding: 20px" >Stupid Coaching</h1>

<form action="/answer" class = "form-inline" style = "padding: 20px">
  <input type="text" name="user_input" placeholder="What do you want to ask your coach?" class='form-control form-control-lg'>
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
