// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_question {
  padding: 15px;
  font-size: 20px
}

.coach_answer {
 padding: 15px;
 background-color: #FFFDE1;
 font-size: 20px
}

p {
  font-style: italic;
}
